.sign-container {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    height: 400px;
    position: absolute;
    top: 75px;
    right: 25px;
    background-color: rgba(255, 255, 255, 0.80) !important;
}

.container {
    height: 425px;
    background: url(http://img.zcool.cn/community/010a3858bfb7cfa801219c77997fee.jpg)
}

.center {
    text-align: center;
}

.sign-up-button {
    margin-top: 2em;
    width: 65%;
}

.sign-in-button {
    margin-top: 2em;
    width: 65%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    width: 30%;
    margin: 15px 1.6%;
}

@media (max-width: 1024px) {
    .flex-item {
        width: 45%;
        margin: 15px 2.5%;
    }
}

@media (max-width: 768px) {
    .flex-item {
        width: 70%;
        margin: 15px 15%;
    }

    .sign-container {
        width: 85%;
        margin: 5px auto;
    }
}

/* mobile L*/
@media (max-width: 425px) {
    .flex-item {
        width: 85%;
        margin: 15px 7.5%;
    }
}

/* mobile M*/
@media (max-width: 375px) {
    .flex-item {
        width: 95%;
        margin: 5px 2.5%;
    }

    .sign-container {
        position: static;
        width: 95%;
        margin: 5px 2.5%;
    }
}

/* Mobile S */
@media (max-width: 320px) {
    .sign-container {
        position: static;
        width: 95%;
        margin: 5px 2.5%;
    }
}