.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    width: 30%;
    margin: 15px 1.6%;
}

@media (max-width: 1024px) {
    .flex-item {
        width: 45%;
        margin: 15px 2.5%;
    }
}

@media (max-width: 768px) {
    .flex-item {
        width: 70%;
        margin: 15px 15%;
    }

}

@media (max-width: 375px) {
    .flex-item {
        width: 95%;
        margin: 5px 2.5%;
    }

}